@model string
@using GRP.Web.Models

<form asp-action="DeleteCustomer" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Customer" })

    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>
